body{
    height:10000px;
}
.header {
    height: 55px;
  
    display: flex;
    flex-direction: row;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-family: sans-serif;
   
    background-color: #2874f0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .left-section {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    margin-left:200px;
  
  }

  .logo{
    
  }

  .Explore{
    color: white;
    font-size: 11px;
    font-style: italic;
    font-family: sans-serif;
    margin-top: -5px;
    font-weight: 100;
    margin-right: 2px;
    text-decoration: none;
  }
  
  .Plus{
    color: #ffe500;
    font-weight: bold;
    margin-right: 2px;

  }

  .Explore:hover{
    text-decoration: underline;
  }

  .middle-section {
    flex: 1;
    margin-left: 10px;
    margin-right: 35px;
    max-width: 600px;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 3000px;
  }
  
  .search-bar::placeholder {
    font-size: 14px;
  }
  
  .search-button {
    height: 38px;
    width: 66px;
    background-color: white;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -1px;
    margin-right: 10px;
  }
  
  .search-button,
  .upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .search-button .tooltip,
  .upload-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
  }
  
  .search-button:hover .tooltip,
  .upload-icon-container:hover .tooltip {
    opacity: 1;
  }
  
  .search_icon {
    height: 25px;
    margin-left: 20px;
  }
  

  .right-section {
    width: 450px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .login {
    height: 36px;
    width: 120PX;
    background-color: white;
    border:none;
    color: #2874f0;
    font-size: 15px;
    font-weight: 600;
  }

 .seller{
    font-size: 15px;
    font-weight: 600;
    color:white;

 } 

 .go_DOp {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: white;
    font-size: 15px;
    font-weight: 600;
 }
 a{
    text-decoration: none;

 }

 span{
    color:white;
    font-size: 15px;
    font-weight: 600;
 }

 .roll{
    transform: rotate(270deg);
    margin-left: 5px;
 }

 .m{
    display:flex;
    align-items: center;
 }